#menu {
    max-width: 120rem;
    position: relative;
    text-align: center;
    padding: 12rem 10rem;
    margin: 0 auto;
    z-index: 1;

    @include responsive(phone) {
        padding: 12rem 3rem;       
    }

    .menu-logo {
        width: 25rem;
        position: absolute;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%)
    }
        
    .menu-subtitle {
        margin-bottom: 4rem;
        font-weight: $fw-light;
    }

    .menu-header {
        font: {
            weight: $fw-bold;
            size: 1.4rem;
        }
        letter-spacing: .005rem;
        color: $clr-grey-light;
        border: solid 3px $clr-grey-light;
        display: inline-block;
        padding: .1rem .9rem;
        margin-bottom: 2.5rem;
    }

    .menu-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5rem;
        text-align: left;
        @include responsive(tabletLand) {
            grid-gap: 1rem;
        }
        
        @include responsive(phone) {
            grid-template-columns: 1fr;
            margin-bottom: 4rem;
        }
    }

    .menu-item {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
            "item-name          price"
            "description             .";
        margin-bottom: 10rem;
        
        @include responsive(tabletLand) {
            margin-bottom: 5rem;
            grid-template-columns: 4fr 1fr;
        }        
    }

    .item-name {
        grid-area: item-name;
        font: {
            size: 1.8rem;
            weight: $fw-semi-bold;
        }
    }

    .item-price {
        grid-area: price;
        font-weight: $fw-light;
        padding-left: 1rem;
    }

    .item-description {
        grid-area: description;
        line-height: 1.2;
        font: {
            size: 1.4rem;
            weight: $fw-extra-light;
        }
    }

    .menu-download {
        @include btn
    }

}