#menu {
  background-color: blue;
  max-width: 120rem;
  text-align: center;
  padding: 8rem 0; }
  #menu .menu-logo {
    width: 25rem; }
  #menu .menu-subtitle {
    margin: 2rem; }
  #menu .menu-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr); }
  #menu .menu-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item-name          price" "description description"; }
  #menu .item-name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: item-name; }
  #menu .item-price {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: price; }
  #menu .item-description {
    grid-area: descripion; }
